.service-red{
    height: 24rem !important;
    background-color: lightgray;
    border-radius: 10px;
    
}
.info-container{
    height: 20rem;
    width: 13rem;
    padding: 20px;
    text-align: center;
}
.info-icon{
    font-size: 2rem;
}
.card-icon :hover ::after{
    font-size: 2rem;
    background-color: red;
}

